<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>DiceGame | 10k let's go</title>
        <link rel="stylesheet" href="/styles/dicegame.css">
        <link rel="stylesheet" href="/styles/classColors.css">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>

    <body class="dicegame-bg text-white">
        <div id="particles" style="height: 100%"></div>
        <div id="react" class="dicegame-board"></div>
        <script src="built/app.js"></script>
    </body>

</html>
