<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head lang="en">
		<meta charset="UTF-8"/>
		<title>DiceGame | 10k let's go</title>
		<link rel="stylesheet" href="/styles/dicegame.css">
		<link rel="stylesheet" href="/styles/classColors.css">
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script data-ad-client="ca-pub-5473961814173392" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	</head>

	<body class="dicegame-bg text-white">
		<div id="react"></div>
		<script src="built/login.js"></script>
	</body>

	<footer class="footer text-muted">
		© 2020 <a target="_blank" href="https://www.wowprogress.com/guild/us/emerald-dream/Chill+Beats">&lt;Chill Beats&gt;</a>
	</footer>
</html>
