.dicegame-bg {
	background-color: #070708;
}

.welcome-msg {
	text-align: center;
	margin: 50px 0 25px 0;
}

.dg-login {
	width: 50% !important;
}

.dg-btn-space {
	margin-right: 10px;
}

.dg-no-left-padding {
	padding-left: 0 !important;
}

th {
	text-align: center !important;
}

.dicegame-nav {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: .5rem 1rem;
	background-color: #1F2833;
}

.dicegame-nav-item {
	cursor: pointer;
	padding: .5rem 1rem;
}

.dicegame-nav-username {
	margin-left: auto !important;
	margin-right: 30px !important;
}

.lobby {
	height: 650px;
	overflow: auto;
	padding: 0 15px 0 15px;
}

.light-up-btn {
	display: flex !important;
	justify-content: center;
	margin: auto;
	color: #070708 !important;
}

.currentRoll {
	font-size: 100px;
	position: absolute !important;
	text-shadow:
	-2px -2px 0 #000,
	2px -2px 0 #000,
	-2px 2px 0 #000,
	2px 2px 0 #000;
}

.roll-btn {
	position: absolute !important;
	color: #070708 !important;
}

.fire {
	position: absolute !important;
}

.graveyard {
	height: 500px;
	overflow: auto;
	padding: 0 15px 0 15px;
}

.chat {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 33%;
	padding: 0 20px 35px 0;
}

.all-chat-messages {
	height: 100px;
	max-height: 100px;
	overflow: auto;
	margin-bottom: 3px;
	background-color: #1F2833;
}

.message {
  overflow-y: scroll;
  overflow-wrap: break-word;
  margin: 1px 10px; 1px 10px;
}

.dicegame-leaderboard {
	width: 95% !important;
	margin: 10px auto;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.dicegame-leaderboard-cell {
	text-align: center;
	width: 50%;
}

.dicegame-leaderboard-header {
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 0 0 5px 10px;
}